#input {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;

}

#scrollable {
    overflow-y: scroll;  /* Permet de défiler verticalement */
    max-height: 520px;
    display: flex;
    flex-direction: column;  /* Les messages vont se disposer verticalement */
    padding: 10px;
}

#container {
    display: flex;
    flex-direction: column;  /* Empile les éléments verticalement */
    align-items: flex-end;   /* Aligne les éléments à droite */
}

#droite {
    width: fit-content;
    max-width: 900px;
    margin-right: 0;
}

#sticky {
    position:fixed;
    right: 0px;
    top: 0px;
    padding: 10px;
}

img {
    max-width: 50px;
}

a {
    color: var(--marron-fonce);
    text-decoration: none;
    padding: 10px;
    border: 2px solid var(--marron-fonce);
    background-color: var(--blanc);
}

a:hover {
    color: var(--marron);
}