<div id="scrollable" #scrollable>
  <div *ngFor="let message of listeMessage">
    <app-agent-dialog-line *ngIf="!message[1]" texte={{message[0]}} emotion={{message[2]}}></app-agent-dialog-line>
    
    <div id="container">
      <app-bulle id="droite" *ngIf="message[1]" texte={{message[0]}}></app-bulle>
    </div>
  </div>

  <div *ngIf="isLoading">
    <img src="assets/spinner.gif" alt="spinner">
  </div>

</div>

<div id="input"><app-zone-input (outputData)="myOuputData($event)"></app-zone-input></div>

<div id="sticky">
  <a href="https://app-584240518682.europe-west9.run.app/">Voir le site de l'hôtel</a>
</div>

<router-outlet></router-outlet>
