:root {
    --noir: #2e2b28;
    --blanc: #f3efe7;
    --marron: #b64e32;
    --marron-fonce: #531a0b ;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url("assets/background.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    min-height: 720px;
}